input {
    position: relative;
    display: flex;
    height: 30px;
    width: 180px;
    margin-top: -45px;
    right: -81%;
    border-radius: 15px;
    padding-left: 20px;
}
.imgAd{
    position: absolute;
    right: 21%;
    top:73px;
}