.button {
  box-sizing: border-box;
  height: 30px;
  width: 180px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  color: white;
  align-items: center;
  display: block;
  line-height: 30px;
  cursor:pointer;
  /* не додавати margin! */
}
